.main-content{
    padding-top: 60px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.form-row{
    padding-top: 8px;
}

.form-group{
    margin-bottom: 5px;
}

label.control-label{
    margin-bottom: 0px;
}

cardLogin {
    border: 0px;
}

.menu > ul li
 {
  list-style-type: none;
}


span.error {
    color: red;
    font-style: italic;
    font-size: 75%;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.card-row {
  margin-bottom: 0 !important;
}
